.git
.github
.cursor
**/.DS_Store
**/node_modules
**/vendor
client/dist
client/.angular
server/storage/logs/*
server/storage/framework/cache/data/*
server/storage/framework/sessions/*
server/storage/framework/views/*
!**/.gitkeep
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
*.md
!README.md
docker-compose.yml
client/Dockerfile
server/Dockerfile
client/docker-entrypoint.sh
server/docker-entrypoint.sh
