node_modules/
client/node_modules/
client/dist/
client/.angular/
server/vendor/
server/storage/logs/*.log
server/storage/framework/cache/data/*
server/storage/framework/sessions/*
server/storage/framework/views/*
!.gitkeep
.DS_Store
.env
server/.env
*.log
